@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box; /*deixando os elementos dentro do elemento PAI (body)*/
    width: 100%;
    background-color: black;
    color: #f6f6f6;
}

.cabecalho{
    padding: 2% 0% 0% 15%; /*o primeiro valor é do superior, o segundo do lado direito, o terceiro é o valor inferior e o quarto é o lado esquero*/
    font-family: "Krona One", sans-serif;
    color: #f6f6f6;
    font-size: 10px;
}

.apresentacao{
    padding: 5% 15%; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 50%; /*largura*/
    display: flex; 
    flex-direction: column;
    gap: 40px; /*espaçamento entre cada elemento filho*/
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /*tamanho da fonte 1 rem = 16px. No caso, esta em 36px*/
    font-family: "Krona One", sans-serif;
}

.titulo-destaque{
    color: #2395ae;
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: #f6f6f6;
    list-style: none;
}

.apresentacao__conteudo_link{
    display: flex; /* é o elemento pai dos botões. Precisa do display flex*/
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;

}



.apresentacao__conteudo_link__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}


.apresentacao__conteudo_link__botao {
    /*background-color: #22D4FD; usado antes*/
    display: flex;
    justify-content: center; /*deixando os elementos no centro do botão*/
    gap: 16px;
    align-items: center;
    border: 2px solid var(--cor-terciaria); /*border = tamanho da borda; solid = borda sólida (linha contínua); cor da borda*/
    color: var(--cor-secundaria);
    width: 50%;
    text-align: center; /*alinhando o texto dentro do botao*/
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 5px; /*O primeiro valor é na vertical (cima e embaixo) e o segundo na horizontal (lados)*/
    text-decoration: none; /*tirando o sublinhado da âncora*/
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__conteudo__imagem{
    width: 50%;
    border-radius: 20%;
}

.rodape{
    padding: 24px;
    color: black;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}